
<h2><%= link_to "#{a.title}", article_path(a) %></h2>
<p><%= truncate(a.description, length: 100) %></p>
<div class="article-meta-details">
    <%= gravatar_for a.user, size: 25 %>
    <small><%= a.user.username %>, (<%= time_ago_in_words(a.created_at) %> ago)</small>
</div>
<p>
    <%= link_to 'Edit', edit_article_path(a), class: 'btn' %>
    <%= link_to 'Delete', article_path(a), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn' %>    
</p>