<section class="page">
    <div class="center-content">
        <div class="col-md-12 text-center">
            <h2>Articles show Page</h2>
            
            <% if @article.user %>
                <ul class="col-sm-12">
                    <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
                    <br/>
                    <li><%= link_to @article.user.username, user_path(@article.user) %></li>
                    <li><%= pluralize(@article.user.articles.count, "article") %></li>
                </ul>
            <% end %>  

            <div class="col-md-12 mg-top-20">
                <p><strong>title:</strong> <%= @article.title %></p>
                <p><strong>description:</strong> <%= @article.description %></p>        
            </div>
        
            <%= link_to 'Back', articles_path, class: 'btn' %>
            <%= link_to 'Edit article', edit_article_path(@article), class: 'btn' %>
        </div>
    </div>
</section>