<section class="article-page">
  <div class="col-md-8 col-centered">
    <%= link_to user_path(@article.user) do %>
      <div class="col-md-2 text-center"><%= gravatar_for @article.user, size: 90 %></div>
      <div class="col-md-10 align-left"><h1><%= @article.user.username %></h1></div>
    <% end %>
    <div class="col-md-10 align-left"><p><%= @article.user.description if @article.user.description %></p></div>
  </div>
  <div class="article-wrapper">
    <div class="col-centered col-md-7">
      <h1><%= @article.title %></h1>
      <%= image_tag("8.jpg") %>
      <p><%= @article.description %></p> 
      <%= link_to 'Back', articles_path, class: 'btn btn btn-primary' %>
      <% if logged_in? && current_user == @article.user %>
        <%= link_to 'Edit article', edit_article_path(@article), class: 'btn btn-primary' %>
        <%= link_to 'Delete article', article_path(@article), method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</section>

