<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">What is your mind?</h1>
		<p class="lead">
			 Sign up and let the world know.
		</p>
	</div>

  <section class="featured-posts row">
    <% @articles.each do |article| %>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <%= link_to article_path(article) do %>
            <div class="image-content col-md-6 col-xs-12">
              <div class="img-thumb" style="background-image: url('assets/8.jpg')"></div>
            </div>
            <div class="text-content col-md-6 col-xs-12">
              <h4><%= article.title %></h4>
              <p><%= article.description %></p>
            </div>
          <% end %>
          <div class="author-info col-md-6 col-xs-12">
            <div class="author-img-wrapper">
              <%= link_to user_path(article.user) do %>
                <%= gravatar_for(article.user) %>
                <small><%= article.user.username %></small>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
