<div class="container">
	<div class="mainheading col-md-12">
		<h1 class="sitetitle">What is your mind?</h1>
		<p class="subtitle">
			 Sign up and let the world know.
		</p>
	</div>

  <section class="featured-posts">
    <% @articles.each do |article| %>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <%= link_to article_path(article) do %>
            <div class="image-content col-md-6 col-xs-12">
              <div class="img-thumb"></div>
            </div>
            <div class="text-content col-md-6 col-xs-12">
              <h4><%= article.title %></h4>
              <p><%= article.description %></p>
            </div>
          <% end %>
          <div class="author-info col-md-6 col-xs-12">
            <div class="author-img-wrapper">
              <% if article.user %>
                <%= link_to user_path(article.user) do %>
                  <%= gravatar_for(article.user) %>
                  <small><%= article.user.username %></small>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
