<!-- header section -->
<section class="banner" role="banner">
    <!-- banner text -->
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <div class="banner-text text-center">
            <h1>Flosix</h1>
            <p>Design Studio from Australia</p>
            <nav role="navigation">
              <a href="#services" class="banner-btn">
                <%= image_tag "down-arrow.png" %>
              </a></nav>
          </div>
          <!-- banner text --> 
        </div>
    </div>
</section>
<!-- services section -->
<section id="services" class="services service-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 services"> <span class="icon icon-strategy"></span>
        <div class="services-content">
          <h5>Strategy & Consulting</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services"> <span class="icon icon-briefcase"></span>
        <div class="services-content">
          <h5>corporate identity</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services"> <span class="icon icon-tools"></span>
        <div class="services-content">
          <h5>web design and development</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services"> <span class="icon icon-genius"></span>
        <div class="services-content">
          <h5>Branding</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services"> <span class="icon icon-megaphone"></span>
        <div class="services-content">
          <h5>Digital marketing</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services"> <span class="icon icon-trophy"></span>
        <div class="services-content">
          <h5>Promotion material</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services section --> 
<section id="blog" class="section-blog no-padding">
    <div class="container">
        <div class="col-md-12 text-center">
            <h3>Blog</h3>
        </div>
        <% @articles.each do |a| %>
            <div class="col-md-6">
                <h5><%= link_to "#{a.title}", article_path(a) %></h5>
                <p><%= a.description %></p>
                 <p>
                  <%= link_to 'Edit', edit_article_path(a), class: 'btn' %>
                  <%= link_to 'Delete', article_path(a), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn' %>    
                </p>
            </div>
        <% end %>
        <div class="col-md-12 text-center">
            <%= link_to "All Articles", articles_path, class: "btn-transparent" %>
        </div>
    </div>
</section>
<!-- work section -->
<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-1.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-2.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-3.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-4.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-5.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-6.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-7.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-8.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-9.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-10.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-11.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 work">
            <a href="/assets/work-12-10cb4e176dde02d011d07721bdc47e3723d802af37263083c84428e1332b3dc9.jpg" class="work-box">
                <%= image_tag 'work-12.jpg' %>
                <div class="overlay">
                  <div class="overlay-caption">
                    <p><span class="fa fa-search-plus"></span></p>
                  </div>
                </div>
                <!-- overlay --> 
            </a>
        </div>
    </div>
  </div>
</section>
<!-- work section --> 
<!-- our team section -->
<section id="teams" class="section teams">
  <div class="container">
    <div class="row"> 
      <!-- team member 1 -->
      <div class="col-md-4 col-sm-8">
        <div class="person">
          <%= image_tag "team-1.png", class: "img-responsive"%>
          <div class="person-content">
            <h4>Johnathan Doe</h4>
            <h5 class="role">The Mastermind</h5>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
          </ul>
        </div>
      </div>
      <!-- team member 1 --> 
      <!-- team member 2 -->
      <div class="col-md-4 col-sm-8">
        <div class="person">
          <%= image_tag "team-2.png", class: "img-responsive"%>
          <div class="person-content">
            <h4>Lisa Brown</h4>
            <h5 class="role">Creative head</h5>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
          </ul>
        </div>
      </div>
      <!-- team member 2 --> 
      <!-- team member 3 -->
      <div class="col-md-4 col-sm-8">
        <div class="person">
          <%= image_tag "team-3.png", class: "img-responsive"%>
          <div class="person-content">
            <h4>Mike Collins</h4>
            <h5 class="role">Technical lead</h5>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
          </ul>
        </div>
      </div>
      <!-- team member 1 --> 
    </div>
  </div>
</section>
<!-- our team section --> 
<!-- Testimonials section -->
<section id="testimonials" class="section testimonials no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Phasellus non dolor nibh. Nullam elementum Aenean eu leo quam..." </h1>
                <p>Rene Brown, Open Window production</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Cras dictum tellus dui, vitae sollicitudin ipsum. Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat shasellus non dolor nibh. Nullam elementum tellus pretium feugiat." </h1>
                <p>Brain Rice, Lexix Private Limited.</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur...." </h1>
                <p>Andi Simond, Global Corporate Inc</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Lorem ipsum dolor sit amet, consectetur adipiscing elitPhasellus non dolor nibh. Nullam elementum tellus pretium feugiat. Cras dictum tellus dui sollcitudin." </h1>
                <p>Kristy Gabbor, Martix Media</p>
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials section --> 
<!-- Get a quote section -->
<section id="contact" class="section quote">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Looking for a new brand? Let's work together!</h3>
      <a href="#" class="btn btn-large">Get Quotation</a> </div>
  </div>
</section>
<!-- Get a quote section -->
