<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>
  <body id="top">
      <%= render partial: "shared/navbar" %>
      <div class="msg-box col-sm-12"><%= render partial: "shared/messages" %></div>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
      <%= render partial: "shared/footer"%>
  </body>
</html>